/* Цвет основнго текста #757575 */

/* Вторичный текст текста #212121 */

/* Белый цвет #FFFFFF */

/* Акцент #2196F3 */

/* Цвет текста в футере rgba(255, 255, 255, 0.6) */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --icon-white-color: #ffffff;
  --second-bg-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --second-button-bg-color: #f5f4fa;
  --border-header-color: #ececec;
  --border-color: #eeeeee;
  --social-color: #afb1b8;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

header {
  border-bottom: 1px solid var(--border-header-color);
}

.header-list {
  display: flex;
  align-items: center;
}
.logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}
.logo-black {
  color: var(--title-text-color);
}
.logo-white {
  color: var(--primary-white-color);
}

.nav {
  margin-left: 93px;
}
.site-nav {
  display: flex;
}

.header-item {
  margin-left: 0px;
}

.header-item:not(:first-child) {
  margin-left: 50px;
}
.list {
  list-style: none;
}
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-link.current {
  color: var(--accent-color);
  position: relative;
}

.current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contact-list {
  display: flex;
  margin-left: auto;
}
.contact-link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.contact-link-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact-link-tel {
  margin-right: 10px;
  fill: currentColor;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}

.section-quality {
  padding-top: 94px;
  padding-bottom: 47px;
}

.section-company {
  padding-top: 47px;
  padding-bottom: 47px;
}

.section-team {
  background-color: var(--second-button-bg-color);
  padding-top: 47px;
  padding-bottom: 94px;
}

/* hero */
.hero {
  background-color: var(--second-bg-color);
  text-align: center;
  padding: 200px 0;
}
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* Overlay */
.hero-overlay {
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-img.jpg");
  background-size: cover;
  background-position: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
}
.modal-button {
  text-align: right;
}

.but-close {
  border: 0;
  background-color: #ffffff;
  margin-top: 8px;
}
/* section */

.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

/* quality */
.quality-list {
  display: flex;
}

.main-item {
  margin-left: 0px;
}

.main-item:not(:first-child) {
  margin-left: 30px;
}
.quality-title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.quality-text {
  font-size: 14px;
  line-height: 1.71;
}

.icon-quality {
  background: var(--second-button-bg-color);
  margin-bottom: 30px;
  padding: 25px 100px;
}

.icon {
  display: block;
}

.service-list {
  display: flex;
}

.team-list {
  display: flex;
}

.teamate-info {
  background-color: var(--primary-white-color);
  padding: 30px 0;
  border-radius: 0px 0px 4px 4px;
}
.teamate-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  text-align: center;
}
.teamate-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.team-shadow {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.icon-social {
  display: flex;
  justify-content: center;
}

.icon-contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--social-color);
}

.icon-social-item {
  fill: currentColor;
}
.icon-contact-link:hover,
.icon-contact-link:focus {
  background-color: var(--accent-color);
  color: var(--icon-white-color);
}

.icon-contact-list:not(:first-child) {
  margin-left: 10px;
}

/* client */
.section-client {
  padding: 94px 0;
}
.client-title {
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 50px;
}
.client {
  display: flex;
}
.icon-client {
  display: flex;
  justify-content: center;
  width: 170px;
  padding: 16px 0;
  border: 1px solid var(--social-color);
  border-radius: 4px;
  color: var(--social-color);
}
.client-list:not(:first-child) {
  margin-left: 30px;
}
.icon-client-item {
  fill: currentColor;
}

.icon-client:hover {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}
/* button */
.primary-button {
  background-color: var(--accent-color);
  cursor: pointer;
  color: var(--primary-white-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border: 0px;
  border-radius: 4px;
}

.secondary-button {
  padding: 6px 22px;
  background-color: var(--second-button-bg-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: 0px;
  border-radius: 4px;
}

.button-item {
  margin-left: 0px;
}

.button-item:not(:first-child) {
  margin-left: 8px;
}

.secondary-button:hover,
.secondary-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer {
  background-color: var(--second-bg-color);
  padding: 60px 0;
}

.footer-list {
  display: flex;
}
.address {
  font-style: normal;
  margin-top: 20px;
}

.map-link {
  display: inline-block;
  color: var(--primary-white-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
}

.secondary-contact-link {
  display: inline-block;
  color: var(--footer-text-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
}

.map-link:hover,
.map-link:focus {
  color: var(--accent-color);
}
.secondary-contact-link:hover,
.secondary-contact-link:focus {
  color: var(--accent-color);
}

.footer-item {
  margin-bottom: 0;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-social {
  margin-left: 70px;
}
.footer-title {
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-white-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.icon-footer {
  display: flex;
}

.icon-footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.icon-footer-link:hover,
.icon-footer-link:focus {
  background-color: var(--accent-color);
}

.icon-footer-item {
  fill: currentColor;
}

.icon-footer-list:not(:first-child) {
  margin-left: 10px;
}

/* Portfolio */

.section-project {
  padding: 94px 0;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-project-name {
  padding: 20px 24px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: 370px;
}
.portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
